*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    margin: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}
body, html {
    overflow-x: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 15px;
    position: relative;
}

.header {
    height: 100px;
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__img {
    width: 50px; 
    height:48px;
    fill: none;
}


.menu__list {
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
}
.menu__item:not(:last-child) {
    margin-right: 40px;
}
.menu__link {
    font-size: 23px;
    color: #000;
    transition: color .3s ease-in;
}
.menu__link:hover{
    color: rgba(0, 0, 0, 0.4);
}
.menu-open {
    width: 45px;
    display: none;
    flex-direction: column;
    gap: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}
.menu-open span {
    display: block;
    background-color: #000;
    height: 3px;
    width: 100%;
}
.menu-close {
    position: absolute;
    top: 0;
    right: -45px;
    display: none;
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    background-color: #C4C4C4;
    z-index: 5;
    transition: right .3s ease-in;
}
.menu-close span {
    display: block;
    background-color: #000;
    height: 3px;
    width: 100%;
}
.menu-close span:first-child {
    transform: rotateZ(45deg);
}
.menu-close span:last-child {
    margin-top: -3px;
    transform: rotateZ(-45deg);
}

.main {
    padding: 75px 0;
    background-color: #fff;
}
.main__inner {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-auto-rows: minmax(auto, 410px);
    gap: 30px;
}
.main__item {
    background-color: #78DEC7;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-popup {
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    transition: all .3s ease-in;
}
.open-popup:hover {
    color: #fff;
    background-color: #000;
}
.open-popup__img {
    height: 20px;
    width: 20px;
    margin-right: 6px;
    fill: #000;
    transition: .3s;
}
.open-popup:hover .open-popup__img {
   fill: #fff;
}

.border {
    padding: 30px;
    border: 30px solid #D62AD0;
}
.text {
    font-size: 20px;
    line-height: 23px;
}
.border-radius {
    background-color: #FB7AFC;
    border-radius: 30px;
}
.pink {
    background-color: #FBC7F7;
}
.dog {
    background-image: url(../img/dog.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo .logo__img path{
    fill: #fff;
}
.copy {
    color: #fff;
    font-size: 20px;
    line-height: 23px;
}


.popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);;
    display: none;
    align-items: center;
    justify-content: center;
}
.popup.active {
    display: flex;
}
.popup-item {
    background-color: #fff;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-popup {
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease-in;
}
.close-popup:hover {
    color: #fff;
    background-color: #000;
}
.close-popup__img {
    margin-right: 20px;
    width:20px;
    height:20px;
    fill:#000;
}
.close-popup:hover .close-popup__img {
    fill: #fff;
    background-color: #000;
}
.close-popup:hover .close-popup__img path {
    fill: #fff;
}
@media (max-width: 992px) {
    .main {
        padding: 60px 0;
    }
    .main__inner {
        grid-template-columns: repeat(2, 1fr);
    }
    .popup-item {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
    .header {
        height: 80px;
    }
    .logo__img {
        width: 28px;
        height: 30px;
    }
    .menu__list {
        position: absolute;
        top: 55px;
        right: -600px;
        width: 100%;
        height: 500px;
        z-index: 5;
        padding-top: 60px;
        flex-direction: column;
        transition: right .3s ease-in;
    }
    .menu__list.active {
        right: 0;
    }


    .menu__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .menu-open {
        display: flex;
    }
    .menu-open.active {
        display: none;
    }
    .menu-close.active {
        display: block;
        right: 10px;
    }
    .main__inner {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(auto, 300px);
    }
}